#{extends 'main.html' /}
#{set title:'Home' /}

<p>
    HELLO ${user}
</p>

<a href="@{Secure.logout()}">Logout</a>

#{secure.check "administrator"}
<a href="@{adminAction()}">Link only for admin</a>
#{/secure.check}